<!-- Footer Content -->
<footer>
	<ul class="footer-credits-container">
		<li><p class="footer-credits">Mapcast is brought to you by:</p></li>
		<li><a href="mailto:rmackenzie88@gmail.com" class="footer-credits">Ruaidhri MacKenzie (rmackenzie88@gmail.com)</a></li>
		<li><a href="mailto:callummcintosh6675@gmail.com" class="footer-credits">Callum Mcintosh (callummcintosh6675@gmail.com)</a></li>
		<li><a href="mailto:patrickjohnmurchie@gmail.com" class="footer-credits">Patrick Murchie (patrickjohnmurchie@gmail.com)</a></li>
		<li><a href="mailto:ryancitomlinson@gmail.com" class="footer-credits">Ryan Tomlinson (ryancitomlinson@gmail.com)</a></li>
	</ul>
</footer>
